<div class="brand">
     <span class="nameBrand" routerLink="/">E-Commerce</span>
</div>

<div class="container">
     <div *ngIf="countItems > 0" class="totalPriceDiv">
          <p>Totale Price: {{total}}€</p>

          <hr>
     </div>

     <div *ngFor="let item of items; index as i">
          <div class="card">
               <div class="cardContent">
                    <div class="productInfo">
                         <div class="divImage">
                              <!-- <img [src]="item.image" alt=""> -->
                         </div>

                         <div class="info">
                              <div>{{item.name}}</div>
                              <p>Prezzo: {{item.price}}€</p>
                         </div>
                    </div>

                    <div class="divOptions">
                         <div class="divQuantity">
                              <span>Quantity: {{item.quantity}}</span>

                              <div (click)="addQuantity(item)">
                                   <mat-icon>add</mat-icon>
                              </div>

                              <div (click)="removeQuantity(item)">
                                   <mat-icon>remove</mat-icon>
                              </div>
                         </div>

                         <div>
                              <button type="button" mat-raised-button color="blue" (click)="removeItem(item._id, idUser)">
                                   Rimuovi
                              </button>
                         </div>
                    </div>
               </div>
          </div>

          <hr *ngIf="i < countItems - 1">
     </div>

     <div *ngIf="countItems > 0" class="payDiv">
          <button routerLink="/pay" mat-raised-button color="warn">Pay</button>
     </div>

     <div *ngIf="countItems == 0">
          <p>You don't have any items in the cart</p>
     </div>
</div>

<router-outlet></router-outlet>
