<div class="container">
     <div *ngFor="let item of items">
          <mat-card class="card">
               <div class="cardContent">
                    <div>
                         <mat-card-header>
                              <mat-card-title>{{item.title}}</mat-card-title>
                         </mat-card-header>
                         <p>price: {{item.price}}</p>
                    </div>

                    <div class="divQuantity">
                         <span>Quantity: {{item.quantity}}</span>

                         <div (click)="addQuantity(item)">
                              <mat-icon>add</mat-icon>
                         </div>

                         <div (click)="removeQuantity(item)">
                              <mat-icon>remove</mat-icon>
                         </div>
                    </div>
               </div>
          </mat-card>
     </div>

     <div *ngIf="countItems > 0">
          <p>
               Totale Price: {{total}}€
          </p>

          <button routerLink="/pay" mat-raised-button color="warn">Pay</button>
     </div>

     <div *ngIf="countItems == 0">
          <p>You don't have any items in the cart</p>
     </div>
</div>

<router-outlet></router-outlet>
