<span class="nameBrand" routerLink="">BSE</span>

<mat-icon class="arrow_back" routerLink="/profile">arrow_back</mat-icon>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
     <h2>Update Name</h2>

     <mat-form-field>
          <mat-label>Enter your name</mat-label>
          <input matInput placeholder="Name" formControlName="name" type="text">
          <mat-icon matSuffix>person</mat-icon>
     </mat-form-field>

     <div class="error" *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].getError('required')">
          Name is required
     </div>

     <div class="error" *ngIf="
          form.controls['name'].touched &&
          !form.controls['name'].getError('required') &&
          form.controls['name'].errors">
          Name is required
     </div>

     <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Update</button>
</form>

<router-outlet></router-outlet>