<mat-spinner class="spinner" *ngIf="!loaded" color="warn" diameter="65"></mat-spinner>

<span class="nameBrand" routerLink="/" *ngIf="loaded">BSE</span>

<div *ngIf="loaded" class="container">
     <h1 class="titleAccount">Account</h1>

     <hr>

     <div class="divData">
          <div class="data">
               <b>Name:</b>
               <span>{{userName}}</span>
          </div>
          <button mat-raised-button color="warn" [routerLink]="['/updateName', idUser]">Modifica</button>
     </div>

     <hr>

     <div class="divData">
          <div class="data">
               <b>Email:</b>
               <span>{{emailUser}}</span>
          </div>
          <button mat-raised-button color="warn" [routerLink]="['/updateEmail', idUser]">Modifica</button>
     </div>

     <hr>

     <div class="divData">
          <div class="data">
               <b>Numero di telefono:</b>
               <span>{{phoneNumber}}</span>
          </div>

          <button *ngIf="phoneNumber === '' " mat-raised-button color="warn" [routerLink]="['/updatePhoneNumber', idUser]">Aggiungi</button>
          <button *ngIf="phoneNumber !== '' " mat-raised-button color="warn" [routerLink]="['/updatePhoneNumber', idUser]">Modifica</button>
     </div>
</div>